{% extends "layout.html" %}

{% block content %}
<style>
.clearfix {
  overflow: auto;
  border: solid;
  color :black;
  font-size: 20px;
  text-indent: 50px;
}
.img2 {
  float: right;
}
</style>
  <main class="about-section">
    <div class="container">

    <h2 style="color:black; front-size: 60 px; margin-left: 0px;">Introduction!</h2>
      <div class="clearfix">
        <img class="img2" src="static/img/about.png" alt="study group" width="800" height="500">
        Study buddy is the web application which allows students to find other students who are taking same course
    or have any related experience about the course to study together. This website is to help students to create the group
        study.
      </div>


    </div>
  </main>
{% endblock %}